/* ---------common--------- */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0 5%;
}

h1{
    font-style: normal;
    font-size: 52px;
    font-weight: bold;
    line-height: 70px;
}

h3{
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
}

.button{
    background-color: #E02C6D;
    border-radius: 41px;
    color: white;
    display: inline-block;
    padding: 1% 5%;
    justify-content: center;
    text-decoration: none;
}

/* ---------common end--------- */

/* ----------nav----------- */
.nav{
    margin-bottom: 2%;
}
/* ----------nav end----------- */
/* ----------top container-------- */

.top-container{
    display: flex;
    margin-bottom: 5%;
}
/* ---------top image---------- */
.top-image{
    margin: 0 auto;
}
.circle-design{
    position: relative;
    /* display: block; */
}
.main-camera{
    position: absolute;
    top: 30px;
    left: 0;
    /* padding: 2%; */
}

/* ---------top image end---------- */
/* ----------top container end-------- */


/* -------------mid grid------------ */
.heading{
    text-align: center;
}
/* -------------mid grid end------------ */